@model Biblioteka.Models.Książki

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Książki</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            Wprowadź tytuł:
            <div class="col-md-10">
                @Html.EditorFor(model => model.TytułKsiążki, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TytułKsiążki, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Dodaj" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Wróć do listy", "Index")
</div>
