@model Biblioteka.Models.Wypożyczający

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>Wypożyczający</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Imię)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imię)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumerTelefonu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumerTelefonu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdresMailowy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdresMailowy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Książki.TytułKsiążki)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Książki.TytułKsiążki)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Wróć do listy", "Index")
</p>
