@model Biblioteka.Models.Wypożyczający

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Wypożyczający</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Imię)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imię)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefon_kontaktowy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefon_kontaktowy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adres_mailowy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adres_mailowy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wyp__Książki.Tytuł)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wyp__Książki.Tytuł)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
