@model IEnumerable<Biblioteka.Models.Wypożyczający>

@{
    ViewBag.Title = "Index";
}

<h2>Lista wypożyczających</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Imię)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nazwisko)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumerTelefonu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdresMailowy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Książki.TytułKsiążki)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Imię)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nazwisko)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumerTelefonu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdresMailowy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Książki.TytułKsiążki)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Podgląd", "Details", new { id=item.Id }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Dodaj", "Create")
</p>
